extend layout
block content
  h1  Hello World
  p   Bacon ipsum dolor sit amet venison ham hock boudin t-bone, doner bacon pork. Ham hock shoulder ribeye, andouille short loin tongue meatball. Biltong beef ribs frankfurter turkey. Leberkas prosciutto meatloaf brisket jerky boudin capicola ham hock turducken pig salami. Pork loin sausage turducken hamburger frankfurter.

 